/* resources/css/app.css */
body {
    font-family: 'Figtree', sans-serif;
    background-color: #f8fafc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

nav[role="navigation"] svg {
  width: 1.25rem !important;
  height: 1.25rem !important;
  max-width: none !important;
  max-height: none !important;
  vertical-align: middle;
}

/* 其他基本樣式 */